@import url("font/stylesheet.css");

html, body {
	width:  	 			100%;
  	height: 	 			100%;
  	margin: 	 			0px;
	color: 		 			white;
    font-family:    		'OpenSans';
  	font-weight: 			400;
	font-size:	 			12px;
	background-color: 		black;
	-webkit-touch-callout: 	none;
	-webkit-user-select: 	none;
	-khtml-user-select: 	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	user-select: 			none;
}
              

#popupSpace {
	width:					100%;
	height:					100%;
	background:				rgba(0,0,0,.25);
	position:				absolute; 
	z-index:				1000;         
    display:none;           
}
#popup {
	width:					80%;
	height:					80%;
	background:				#222;
	position:				absolute;   
	top:					10%;
	left:					10%; 
	border-radius:			5px;
	border:					2px solid #333;  
	box-shadow:				0 5px 10px #000;      
  	font-weight: 			400;
	font-size:	 			1.5em;
}    
#popupLeft {
	width:					30%;
	height:					90%;  
	background:				rgba(255,255,255,.1); 
	padding:				5%;    
	vertical-align:			top;
}                    
#popupImg {
	width:					100%; 
	height:					100px;  
	background:				rgba(255,255,255,.1);    
	display:				inline-block;
}   
.popupText {
	width:					100%; 
	height:					100px;  
	background:				rgba(255,255,255,.1);  
	display:				inline-block;
}
#popupRight {
	width:					55%;
	height:					90%;   
	background:				rgba(255,255,255,.1); 
	padding:				5% 5% 5% 0;    
	vertical-align:			top;
}

#container {
	width: 			  		100%;
	height: 		  		100%;
	vertical-align:			top;
}
#video {
	display:				inline-block;
	vertical-align:			top;   
}

#flattentimeline {
	width:					200px;
	height: 		  		100%;
	background-color:		blue;
	display:				inline-block;
	vertical-align:			top;
	color:					white;
	background-color: 		black;
	overflow-x:				hidden;	
	overflow-y:				scroll;	 
}       

#flattentimeline_highlight {
	margin-bottom:			1px;
}
 

#flattentimeline_main_title {             
	font-weight:			200;
	/*height:				40px;*/
	line-height:			20px;
	padding:				10px 0;
	text-align:				center;
	/*background:			#2C3032;*/
	/*background:			#2C3033;*/
	/*background:			#57A5AF;*/
	background:				#EC8960;
	/*background-image: -webkit-linear-gradient(left, #EC8960 0%, #57A5AF 100%);*/
	/*background-image: -webkit-linear-gradient(left, #94CA6F 0%, #B495CC 100%);*/
	text-transform:			uppercase;
	color:					rgba(255,255,255,1);
	font-size:				18px;
	border-bottom:			2px solid #1B1D1E;
}         
#flattentimeline_settings {                
	font-weight:			200;
	height:					240px;
	line-height:			40px;
	text-align:				center;
	background:				#26292B;
	text-transform:			uppercase;
	color:					#FFF;
	font-size:				18px;
	margin-top:				4px;
	display:				none;
}
#flattentimeline_items {
	width:					100%;
	height:					100%;
	overflow:				hidden;
	overflow-y:				auto;
	background-color:		#1B1D1E; /*191716;*/
}
.flattentimeline_item {
	position:				relative;
	height: 		  		40px; 
	color:			  		white;
	margin:					0px 0px;
	cursor:					pointer;
	background:				#26292B;/*231F1E;*/   
	width:					100%;     
	display:				none;
}
.flattentimeline_item:hover {
	background:				#1D2021;/*191716;*/
}   

.flattentimeline_highlightitem {
	position:				relative;
	/*height: 		  		150px;*/  
	height: 		  		auto; 
	color:			  		white;
	margin:					0px;
	cursor:					pointer;
	background:				#26292B;  
	width:					100%;   
	text-align:				center;  
	padding-bottom:			2px;
	/*display:block;*/ 
}

.flattentimeline_image {
	border-radius: 			0;
}
.flattentimeline_opacifiant, .flattentimeline_bar {
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	position:				absolute;
	background-position:	center center;
	background-repeat:		no-repeat; 
    -webkit-background-size:cover;
    -moz-background-size: 	cover;
    -o-background-size: 	cover;
    background-size: 		cover;
	text-align:				left;
	overflow:				hidden;
}
.flattentimeline_title, .flattentimeline_subtitle, .flattentimeline_counter {
	top:					0px;
	left:					0px;
	/*position:		 	   	absolute; */
	background-position:	center center;
	background-repeat:		no-repeat; 
	text-align:				left;
	overflow:				hidden; 
	line-height:			20px;
}

.flattentimeline_image {
	width:					20px; 
	height:					20px;
	margin:					9px 10px 9px 7px;
	border-radius:			2px;
	/*position:absolute; */        
	background-color:		#000;
	float:					left;
	background-position:	center center;
	background-repeat:		no-repeat; 
    -webkit-background-size:cover;
    -moz-background-size: 	cover;
    -o-background-size: 	cover;
    background-size: 		cover;
} 

.flattentimeline_highlightitem .flattentimeline_image {
	width:					170px; 
	height:					60px;   
	margin:					15px 15px 5px 15px;    
	border-radius:			3px;  
	/*border-radius:			5px 5px 0px 0px;*/    
	background-color:		#fff;   
	display:				inline-block;  
	float:					left; 
	background-position:	center center;
	/*border:					1px solid #000;   
	border-bottom:			none;     */
}

/*.flattentimeline_color {
	top:					0px;
	height:					100%;
}*/
.flattentimeline_bar, .flattentimeline_opacifiant {
	background-color:		rgba(0, 0, 0, 0.75);
	height:					2px;
	top:					38px;
}  
.flattentimeline_highlightitem .flattentimeline_bar, .flattentimeline_highlightitem  .flattentimeline_opacifiant  {
	top:					auto;   
	display:				block;   
}

.flattentimeline_title {                   
	font-weight:			400;
	font-size:				10px;  
	line-height:			39px;   
	color:					rgba(255,255,255,.5);

	/*width:					55%; */
	width: 					132px;
	text-overflow: 			ellipsis;
	white-space: 			nowrap; 
	overflow: 				hidden;    
	
	display:				inline-block;  
}  

.flattentimeline_highlightitem .flattentimeline_title {    
	line-height:			1.2em; 
	width: 					170px;  
	font-size:				10px; 
	padding:				10px 0; 
	color:					rgba(255,255,255,1); 
}           

.flattentimeline_highlightitem .flattentimeline_description {    
	font-weight:			400;
	font-size:				9px;  
	line-height:			1.4em;   
	color:					rgba(255,255,255,.5);    
	margin:					0px 15px 13px 15px;  
	  
	width: 					170px;  
	text-align:				left;          
	
	display:				inline-block;
}

.flattentimeline_subtitle {
	font-family:			"OpenSans";   
	font-weight:			200;
	top:					25px;
	font-size:				10px;
	left: 					40px;
	line-height:			20px;
	height:					20px;
	display:				none;
}
/*.flattentimeline_type {
	top:					14px;
	left:					6px;
	width:					26px;
	height:					26px;
	background-position:	center center;
	background-repeat:		no-repeat;
	opacity:				.5;
}*/
/*.flattentimeline_type {
	width:10px; height:10px;
	border-radius:10px;
	float:right;
	margin:20px 15px 20px 0;
}*/
.flattentimeline_type {
	width:					20px; 
	height:					20px;
	/*border-radius:			20px; */
	float:					right;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					9px 5px;
	opacity:				0.75;
}                 

.flattentimeline_highlightitem .flattentimeline_type {  
	width:					40px; 
	height:					40px;
	position:				absolute;
	border-radius:			30px;
	background-color:		rgba(0,0,0,.5);
	margin:					25px 0 0 80px;  
	opacity:				1;   
}   

.flattentimeline_color {
	width:					6px; 
	height:					6px;
	border-radius:			10px;
	float:					right;
	margin:					22px 5px;
}
.flattentimeline_counter {
	font-weight:			600;
	top:					5px;
	left:					5px;
	width:					40px;
	height:					40px;
	line-height:			38px;
	border-radius:			2px;
	
	background-color:		#000;
	
	font-size:				18px;
	text-align: 			center; 
	display:				none;
}
.flattentimeline_bar {
	/*width: 			  	0%;*/
	background-color:		#26292B;	/*#2DCAE1;*/
	opacity:				1;
}    

.docLive {
	opacity:				1;  
	display:				block;
}     

.docTocome {
	opacity:				0.5;     
	display:				block;
}

.docFaraway {
	opacity:				0.1;       
	display:				none;
}



